auth
*~
*.a
*.d
*.o
*.so
*.so.[0-9]
*.swp
*.gz
*.zip
*.pyproj
.vs
*.dll
*/*/[Dd]ebug/*
*/[Dd]ebug/*
*/*.user
*/*/*.user
*/*.lib
*/*/*.lib

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

